certifi==2020.6.20
chardet==3.0.4
click==7.1.2
cycler==0.10.0
dataclasses==0.7
decorator==4.4.2
fastapi==0.61.1
graphviz==0.8.4
h11==0.9.0
httptools==0.1.1
idna==2.10
imageio==2.9.0
joblib==0.16.0
kiwisolver==1.2.0
matplotlib==3.3.1
mxnet==1.7.0.post1
networkx==2.5
numpy==1.19.1
opencv-python==4.4.0.42
Pillow==7.2.0
pydantic==1.6.1
pyparsing==2.4.7
python-dateutil==2.8.1
python-multipart==0.0.5
PyWavelets==1.1.1
requests==2.24.0
scikit-image==0.17.2
scikit-learn==0.23.2
scipy==1.5.2
six==1.15.0
starlette==0.13.6
threadpoolctl==2.1.0
tifffile==2020.9.3
urllib3==1.25.10
uvicorn==0.11.8
uvloop==0.14.0
websockets==8.1